* {
  box-sizing: border-box;
}

button {
  border-radius: 25px;
  cursor: pointer;
  font-size: 26px;
  height: 50px;
  margin-bottom: 20px;
  width: 150px;
}

.main-content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 30px 0 30px 0;
}

.section {
  &-left {
    width: 300px;
  }

  &-middle {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  &-right {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  &-bottom {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.info {
  font-size: 24px;
  margin-bottom: 20px;
}

.input {
  font-size: 24px;
  height: 40px;
  margin-bottom: 20px;
  width: 300px;
}

.div {
  border: 1px solid gold;
  height: 437px;
  margin-bottom: 30px;
  overflow: auto;
  width: 400px;

  &-select {
    width: 100px;
    margin-right: 70px;
  }

  &-range {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 15px;
    width: max-content;

    > input {
      margin-bottom: 15px;
      width: 200px;
    }
  }
}

.console-log {
  border: 1px solid gold;
  height: 350px;
  overflow: scroll;
  width: 800px;
}

.div-tests {
  border: 1px solid gold;
  display: flex;
  justify-content: center;
  margin: 15px;
  min-height: 200px;

  &-p {
    text-align: center;
  }

  &-ul {
    list-style: none;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 15px;
    > li {
      margin-bottom: 15px;
    }
  }
}
